<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetiana Pavliuchenko</title>
    <link rel="icon" type="image/png" href="~/Content/Images/siteImage.png" />
    @*<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />*@
    <link type="text/css" rel="stylesheet" href="~/Content/AdminLayout.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/jquery/css")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (ViewBag.ViewName == "AdminIndex")
    {
        <link type="text/css" rel="stylesheet" href="~/Content/Admin/AdminIndex.css" />
    }

</head>
<body>
     <div class="mobile-menu">  
        <ul>
            <li><a href="/Admin/Index">Home</a></li>
            <li><a href="/Admin/Sets">Sets</a></li>
            <li><a href="/Admin/Images">Images</a></li>
            <li><a href="/Admin/Blog">Blog</a></li>
            <li><a href="/Admin/Exceptions">Exceptions</a></li>                  
        </ul>
         @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
             @Html.AntiForgeryToken()
             <div class="logOff-mobile">
                 <button class="my-btn btn btn-default" type="submit">Log off</button>
             </div>
            }        
    </div>
    <div class="row">
        <div class="main-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="display:inline-block; width: 100%;">
                <ul>
                    <li><a href="/Admin/Index">Home</a></li>
                    <li><a href="/Admin/Sets">Sets</a></li>
                    <li><a href="/Admin/Images">Images</a></li>
                    <li><a href="/Admin/Blog">Blog</a></li>
                    <li><a href="/Admin/Exceptions">Exceptions</a></li>  
                </ul>
            </div>                           
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="logOff">
                <button class="my-btn btn btn-default" type="submit">Log off</button>
            </div>
        }
    </div>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    <script>
                $(document).ready(function () {
                    $('#nav-icon').click(function () {
                        $(this).toggleClass('open');
                        var windowWidth = $(window).width();
                        if ($(this).hasClass('open')) {
                            $('.mobile-menu').animate({
                                width: windowWidth*0.78
                            }, 200);
                            $('body').animate({
                                left: -windowWidth * 0.78
                            }, 200);
                        }
                        else {
                            $('.mobile-menu').animate({
                                width: 0
                            }, 200);
                            $('body').animate({
                                left: '0px'
                            }, 200);
                        }
                    });

                    $(window).resize(function () {
                        if ($(this).width() >= 600 && $('#nav-icon').first().hasClass('open'))
                        {
                            $('#nav-icon').first().removeClass('open');
                            $('.mobile-menu').animate({
                                width: 0
                            }, 200);
                            $('body').animate({
                                left: '0px'
                            }, 200);
                        }

                        if ($('#nav-icon').first().hasClass('open'))
                        {
                            var windowWidth = $(window).width();
                            $('.mobile-menu').width(windowWidth*0.78);
                            $('body').animate({
                            left: -windowWidth * 0.78
                            }, 0);

                        }
                    });

                });
    </script>
</body>
</html>

