<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP - @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/Images/icons8-google-64.png" />
    @*<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/jquery/css")
    @RenderSection("scripts", required: false)
    <link type="text/css" rel="stylesheet" href="~/Content/Layout.css" />

    @*@if (ViewBag.ViewName == "HomeIndex")
    {
        <link type="text/css" rel="stylesheet" href="~/Content/Home/HomeIndex.css"/>
        <link rel="stylesheet" href="~/Content/font-awesome.min.css">


        <link type="text/css" rel="stylesheet" href="~/Content/ScaleImage.css" />
    }*@   
   

    
</head>
<body>
    <div class="mobile-menu">  
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/Work">Work</a></li>
            <li><a href="/Contacts">Contacts</a></li>
            <li><a href="/Blog">Blog</a></li>
        </ul>
    </div>
    <div class="row main-menu-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-menu">
            <div>
                <ul>
                    <li><a href="/Work" id ="menu-item-Work" class="menu-item">Work</a></li>
                    <li><a href="/" id ="menu-item-About" class="menu-item">About</a></li>
                    <li><a href="/" class="menu-item-logotip">Tetiana Pavliuchenko</a></li>                    
                    <li><a href="/Blog" id ="menu-item-Blog" class="menu-item">Blog</a></li>
                    <li><a href="/Contacts" id ="menu-item-Contacts" class="menu-item">Contacts</a></li>
                </ul>
            </div>                           
        </div>
    </div>
    <span id="menu-ckecked"></span>
    <div class="logotip"><a href="/" class="menu-item-logotip">Tetiana Pavliuchenko</a></div>
    <div class="pageName">illustration</div>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
            <script>
                //$(document.body).overflow(function () {
                //    alert('Hi I am bound to the body!');
                //});

                //$(document.body).bind('overflow', function () {
                //    alert('Привет мир!');
                //});

                //document.body.addEventListener('overflow', function () {
                //    console.log('scollbar is visible');
                //});

                //document.body.addEventListener('overflow', function () {
                //    console.log('scollbar is invisible')
                //}, true);

                //document.body.addEventListener('underflow', function () {
                //    console.log('scollbar is invisible');
                //});
                //$('.menu-item-logotip').ready(function () {
                //    alert('s');
                //});

                $('.main-menu').ready(function () {
                    //alert('Layout');
                    //alert('document ready')

                    //$('.main-menu-container').animate({
                    //    opacity: 1
                    //}, 200);

                    @{
                        string controllerName = ViewBag.Controller;
                        if (controllerName == "Work")
                        {

                             <text>
                                $('#menu-ckecked').css('left', $('#menu-item-Work').offset().left);
                                $('#menu-ckecked').animate({
                                    'opacity': '1'
                                }, 700);
                             </text>
                        }
                        else if (controllerName == "Contacts")
                        {
                             <text>
                                $('#menu-ckecked').css('left', $('#menu-item-Contacts').offset().left);
                                $('#menu-ckecked').animate({
                                    'opacity': '1'
                                }, 700);
                             </text>
                        }
                        else if (controllerName == "Blog")
                        {
                            <text>
                                $('#menu-ckecked').css('left', $('#menu-item-Blog').offset().left);
                                $('#menu-ckecked').animate({
                                    'opacity': '1'
                                }, 700);
                             </text>
                        }
                    }

                    $('#nav-icon').click(function () {
                        $(this).toggleClass('open');
                        var windowWidth = $(window).width();
                        if ($(this).hasClass('open')) {
                            $('.mobile-menu').animate({
                                width: windowWidth * 0.78
                            }, 200);
                            $('body').animate({
                                left: -windowWidth * 0.78
                            }, 200);
                        }
                        else {
                            $('.mobile-menu').animate({
                                width: 0
                            }, 200);
                            $('body').animate({
                                left: '0px'
                            }, 200);
                        }
                    });

                    $(window).resize(function () {
                        if ($(this).width() >= 600 && $('#nav-icon').first().hasClass('open')) {
                            $('#nav-icon').first().removeClass('open');
                            $('.mobile-menu').animate({
                                width: 0
                            }, 200);
                            $('body').animate({
                                left: '0px'
                            }, 200);
                        }

                        if ($('#nav-icon').first().hasClass('open')) {
                            var windowWidth = $(window).width();
                            $('.mobile-menu').width(windowWidth * 0.78);
                            $('body').animate({
                                left: -windowWidth * 0.78
                            }, 0);

                        }

                         @{
                            if (controllerName == "Work")
                            {

                                <text>
                                   $('#menu-ckecked').css('left', $('#menu-item-Work').offset().left);
                                </text>
                            }
                            else if (controllerName == "Contacts")
                            {
                                <text>
                                     $('#menu-ckecked').css('left', $('#menu-item-Contacts').offset().left);
                        </text>
                            }
                            else if (controllerName == "Blog")
                            {
                                <text>
                                    $('#menu-ckecked').css('left', $('#menu-item-Blog').offset().left);
                                </text>
                            }
                        }

                    });

                });
            </script>
</body>
</html>
